<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="http://localhost:8000/index.html#/home"><img src="Content/Images/logo_1.png" alt="logo"></a>
    </div>
  </div>
</nav>
<div class="panel-heading">
    <h1 class="panel-title text-center" id="signupModalLabel"><font size="5">Use the form below to change your password!</font></h1>        
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form id="passwordResetForm" novalidate="novalidate">
        <div class="form-group">
            <input type="password" class="input-lg form-control" name="fp_password" ng-model="fp_password" placeholder="New Password" required>
            <div class="help-block has-error error" ng-messages="passwordResetForm.fp_password.$error">
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="input-lg form-control" name="fp_rpassword" ng-model="fp_rpassword" placeholder="Repeat Password" required>
            <div class="help-block has-error error" ng-messages="passwordResetForm.fp_rpassword.$error" ng-if="comparePasswords()">Enter Same Password</div>
        </div>
        <button type="submit" id="pwdrst_btn" class="btn btn-block bt-signup center-block" ng-click="forgotPassword()" ng-disabled="passwordResetForm.$invalid">Save!</button>
      </form>
    </div>
  </div>
</div>
