<div class="login-page">
  <!-- <div class="form"> -->
<form class="login-form">
      <input type="text" ng-model="fp_password" placeholder="password"/>
      <input type="password" ng-model="fp_rpassword" placeholder="reenter password"/>
      <button ng-click="forgotPassword()">submit</button>
</form>
  <!-- </div> -->
</div>

<script>
$(document).ready(function() {
    $('#identicalForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            confirmPassword: {
                validators: {
                    identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    }
                }
            }
        }
    });
});
</script>