		<div class="navbar navbar-default navbar-static-top">

			<div class="container">

				<div class="navbar-left">
					<img src="Content/Images/rsz_books.png" alt="logo"> Book Store 
				</div>


<!-- 				<a href="#" class="navbar-brand"> 
					Book Store
				</a>
 -->
				<button class="navbar-toggle" data-toggle="collapse" data-target = ".navbarHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse navbarHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">

						<li><a href="#">Home</a></li>
						<!-- <li><a href="#manageBooks">My Books</a></li> -->
						<li><a href="#">Our Vision</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#" ng-show="isLogin()" ng-click = "logout()">Log Out</a></li>
					</ul>
				</div>
			</div>
		</div>

<div ng-show="book != null">

		<div class="col-md-40 ">
<div class="row">
	<div class="col-md-6">
		 <img itemprop="image" data-ng-src="data:image/png;base64,{{book.img_data}}" height="500px" width="450px" data-err-src="images/png/avatar.png">
		</div>


	<div class="col-md-5 product_results ">
		<div class="row">
			<div class="col-md-7 ">
				<h1> {{book.title}}</h1>
			</div>
			<br>
			<div class="col-md-10 ">
				<hr>
			</div>

			
			<div class="col-md-5">
            <b class="price" itemprop="price">
            	<div ng-show="book.post_for == 'selling'">
            	<span class="priceline mrp_font">
            		MRP:
            		<i class="fa fa-rupee"></i>
            		666
            	</span>
            	<span class="defaultcolor">
            		Price:
            		<i class="fa fa-rupee"></i>
            		350
            	</span>
            	</div>
            	<div ng-show="book.post_for == 'donation'">
            		BOOK FOR DONATION

            	</div>
            </b>
			</div>

		</div>
		<div>
			<div class="row">
					<div class="col-md-12">
						<span itemprop="author"><h4><b>Author: </b>{{book.author}}</span></h4>

					</div>
					<div class="col-md-12">
						<h4><b> Edition: </b> {{book.edition}} </h4>                
				   </div>
				   <div class="col-md-12">
						<h4><b> Category: </b> {{book.category}}</h4>                
				   </div>
				   <div class="col-md-12">
						<h4><b> Selling Type : </b> {{book.post_for}}</h4>                
				   </div>
					<div class="col-md-12">
						<h4><b> City: </b> {{book.city}}</h4>                
				   </div>
				   <div class="col-md-12">
						<h4><b> Location: </b> {{book.location}}</h4>                
				   </div>
				   <div class="col-md-12">
						<h4><b> Institute: </b> {{book.institute}}</h4>                
				   </div>
				   <div class="col-md-12">
						<h4><b> Description: </b> {{book.description}}</h4>                
				   </div>
				   <div class="col-md-12">
						<h4><b> Special Note: </b> {{book.special_note}}</h4>                
				   </div>
			</div>

			<div> <h2> Total Views : {{book.views}} </h2>

			</div>

		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-md-12">
               <div class="col-md-6 facebook_button">
			<button type="button" class="btn btn-primary" ng-click="markBookSold(book.id)"> <a style="color:#FFFFFF" href="#manageBooks"> Contact Seller </a> </button>
				</div>
				<div class="col-md-6 facebook_button">					 <!-- Facebook -->
                  <button type="button" class="btn btn-primary">Share on Facebook</button>
        </div>
			 </div>
		</div>
		<div class="row">
			<br>
		</div>

	</div>
</div>
<hr></hr>
</div>
</div>
