		<div class="navbar navbar-default navbar-static-top">

			<div class="container">

				<div class="navbar-left">
					<img src="Content/Images/rsz_books.png" alt="logo"> Book Store 
				</div>


<!-- 				<a href="#" class="navbar-brand"> 
					Book Store
				</a>
 -->
				<button class="navbar-toggle" data-toggle="collapse" data-target = ".navbarHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse navbarHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">Social Media</a></li>
						<li><a href="#">Our Vision</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>


		<div class="container" ng-switch="isLogin()">
			<div class="jumbotron" ng-switch-when="true">
				<center>
				<h1>WELCOME TO BOOK WORLD </h1>
				<p>Great books help you understand, and they help you feel understood. -- John Green</p>
				<a class="btn btn-default btn-primary"> BUY NOW ! </a>
				<a class="btn btn-default btn-primary" ng-click="moveToSellerHome()">SELL NOW ! </a>
				</center>
			</div>
			<div class="jumbotron" ng-switch-when="false">
				<center>
				<h1>WELCOME TO BOOK WORLD </h1>
				<p>Great books help you understand, and they help you feel understood. -- John Green</p>
				<a class="btn btn-default btn-primary"> BUY NOW ! </a>
				<a href = "#signin" data-toggle = "modal" class="btn btn-default btn-primary"> SELL NOW ! </a>
				</center>
			</div>
		</div>




	<div class="container">
		<div class = "row">
			<div class = "col-md-6">
				<h3> <a href = "#">DONATE BOOKS GENEROUSLY FOR NOBLE CAUSE </a> </h3>
				<p> There are many people in our country who do net get the opportunity of education but we can help them to get them educated by donating our old books for free for them. </p>
				<a href="#" class="btn btn-default"> Read More </a>

			</div>

			<div class = "col-md-6">
				<h3> <a href = "#">MAKE BEST USE OF YOUR OLD BOOKS </a> </h3>
				<p> There are many people in our country who do net get the opportunity of education but we can help them to get them educated by donating our old books for free for them. </p>
				<a href="#" class="btn btn-default"> Read More </a>

			</div>

		</div>
	</div>


<!-- <div class="modal fade" id="signinn" role="dialog">
	<div class = "modal-dialog">
		<div class = "modal-content">
			<form class="form-horizontal" action="/">
				<div class = "modal-header">
					<div> Sign In</div>
				</div>
				<div class = "modal-body">
					<div class="form-group">
						<label for="contact-email" class="col-lg-2 control-label">Email Id:</label>
						<div class="col-lg-10">
							<input type="email" class="form-control" id="contact-email" placeholder= "Email Id" ng-model="emailId">
						</div>
					</div>

					<div class="form-group">
						<label for="password" class="col-lg-2 control-label" >Password:</label>
						<div class="col-lg-10">
							<input type="password" class="form-control" id="password" placeholder= "Password" ng-model="password">
						</div>
					</div>
				</div>
				<div class = "modal-footer">
					<a class="btn btn-default btn-primary" data-toggle = "modal" data-dismiss="modal" ng-click="submit()">SIGN IN</a>
					<a class="btn btn-default btn-primary" href = "#signupp" data-toggle = "modal" data-dismiss="modal">SIGN UP</a>
					<a class="btn btn-default" data-dismiss="modal">Close</a>

				</div>
			</form>

		</div>
	</div>
</div>

 -->
<!-- Signin Pop-up HTML implementation -->
<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
	<div class="modal-dialog login-modal-dialog">
		<div class="modal-content login-modal">
			<div class="modal-header login-modal-header modal-blue">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span area-hidden="true">&times;</span>
				</button>
				<h1 class="modal-title login-modal-title text-center" id="signinModalLabel">Sign in</h1>				
			</div>
			<div class="model-body">
				<!-- <div class="text-center"> -->
					<!-- Nav tabs -->
<!-- 					<div role="tabpanel" class="login-tab">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a id="signin-taba" href="#home" aria-controls="home" role="tab">
							Sign In</a></li>							
							<li role="presentation"><a id="signin-taba" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a></li>							
						</ul>
 -->
						<!-- Tab Panes -->
						<!-- <div class="tab-content"> -->
					    	<div class="login-modal-form" id="home">
					    		&nbsp;&nbsp;
					    		<form name="loginForm" id="login-form">
									<div class="form-group">
								    	<div class="input-group">
								      		<div class="input-group-addon"><i>@</i></div>
								      		<input type="email" name="login_email" class="form-control" id="login_email" placeholder="somebody@example.com" ng-model="login_email" required>
								    	</div>
								    	<!-- <span class="help-block has-error error" id="login-email-error" ng-show="loginForm.input.$error.email">Invalid email</span> -->
								  	</div>
								  	<div class="form-group">
								    	<div class="input-group">
								      		<div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
								      		<input type="password" name="input" id = "login_password" class="form-control" placeholder="Password" 
								      		ng-model="login_password">
								    	</div>
								    	<!-- <span class="help-block has-error" id="login-password-error"></span> -->
								  	</div>
						  			<button type="button" id="login_btn" class="btn btn-block bt-login center-block" data-loading-text="Signing In...." ng-click="login()" data-dismiss="modal">Login</button>
						  			<div class="clearfix"></div>
						  			
						  			<div class="login-modal-footer">
						  				<div class="row">
											<div class="col-xs-8 col-sm-8 col-md-8">
												<i class="glyphicon glyphicon-lock"></i>
												<a href="#forgotpassword" data-toggle = "modal" data-dismiss="modal" class="forgetpass-tab"> Forgot password? </a>
											</div>
											
											<div class="col-xs-4 col-sm-4 col-md-4 pull-right">
												<i class="glyphicon glyphicon-ok"></i>
												<a href = "#signup" data-toggle = "modal" data-dismiss="modal" class="signup-tab" ng-click="clearOnSignupClick()"> Sign Up </a>
											</div>
										</div>
										
										<div class="row popup_row-sm-offset-3 popup_loginOr">
											<!-- <div class="col-xs-12"> -->
											<div>
												<hr class="popup_hrOr">
												<span class="popup_spanOr">Or</span>
											</div>

										</div>

										<!-- <div class="row popup_row-sm-offset-3 popup_socialButtons"> -->
										<div class="popup_socialButtons">
    	    								<!-- <div class="col-xs-4"> -->
    	    								<div>
		        								<a ng-click="fbLogin()" class="btn btn-lg btn-block popup_btn-facebook" data-dismiss="modal">
			        								<i class="fa fa-facebook visible-xs"></i>
			        								<span class="hidden-xs">Facebook</span>
		        								</a>
	        								</div>
	        								<!-- <div class="col-xs-4">
										        <a href="#" class="btn btn-lg btn-block popup_btn-twitter">
											    	<i class="fa fa-twitter visible-xs"></i>
											    	<span class="hidden-xs">Twitter</span>
			        							</a>
		        							</div>	
								        	<div class="col-xs-4">
										        <a href="#" class="btn btn-lg btn-block popup_btn-google">
											        <i class="fa fa-google-plus visible-xs"></i>
											        <span class="hidden-xs">Google+</span>
										        </a>
									        </div>	 -->
										</div>
						  			</div>
								</form>
					    	</div>
					<!-- </div> -->
				</div>

			</div>
		</div>
	</div>
</div>



<!-- Sign Up Pop-up HTML implementation -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
	<div class="modal-dialog login-modal-dialog">
		<div class="modal-content login-modal">
			<div class="modal-header login-modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span area-hidden="true">&times;</span>
				</button>
				<h1 class="modal-title login-modal-title text-center" id="signupModalLabel">Sign Up</h1>				
			</div>

			<div class="model-body">
				<div class="login-modal-form" id="profile">
					&nbsp;&nbsp;
				<form name="signupform">
					<div class="form-group">			
						<div class="input-group">
							<div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
							<input type="text" class="form-control" ng-model="reg_fullname" id="reg_fullname" placeholder="Enter Fullname">
						</div>
						<span class="help-block has-error" id="email-error"></span>
					</div>	

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i>@</i></div>
							<input type="email" name="input" class="form-control" id="signup_email" placeholder="Enter Mail Id" ng-model="reg_email" required>
						</div>
						<span class="help-block has-error error" id="signup_email_error" ng-show="signupform.input.$error.email">Invalid email</span>
					</div>  

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></div>
							<input type="text" class="form-control" id="signup_contact" ng-model="reg_contact" placeholder="Contact">
						</div>
						<span class="help-block has-error" id="email-error"></span>
					</div>

					<div class="form-group">	
						<div class="input-group">
							<div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
							<input type="password" class="form-control" id="signup_password" ng-model="reg_password" placeholder="Password">
						</div>
						<span class="help-block has-error" id="email-error"></span>
					</div>
							
					<div class="form-group">			
						<div class="input-group">
							<div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
							<input type="password" class="form-control" ng-model="reg_repassword" id="signup_reenter_password" placeholder="Renter Password">
						</div>
						<span class="help-block has-error" id="email-error"></span>
					</div>
					<button type="button" id="signup_btn" class="btn btn-block bt-signup pull-right" data-loading-text="Singing Up...." data-dismiss="modal" ng-click="registerUser()">Submit
                    </button>
					<div class="clearfix"></div>

					<div class="text-right text-bottom-margin">
						<a href="#signin" data-toggle = "modal" data-dismiss="modal" class="signin-tab" ng-click="clearOnSigninClick()"><strong>Already an user Sign in?</strong></a>
					</div>

				</form>			
				</div>
			</div>
		</div>
	</div>		
</div>


<!-- Forgot Password Pop-up HTML implementation -->
<div class="modal fade" id="forgotpassword" tabindex="-1" role="dialog" aria-labelledby="fpModalLabel" aria-hidden="true">
	<div class="modal-dialog login-modal-dialog">
		<div class="modal-content login-modal">
			<div class="modal-header login-modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span area-hidden="true">&times;</span>
				</button>
				<h1 class="modal-title login-modal-title text-center" id="fpModalLabel">Forgot Password</h1>				
			</div>

			<div class="model-body">
				<div class="login-modal-form" id="fpwd">
					&nbsp;&nbsp;
				<form name="forgotPassword">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i>@</i></div>
							<input type="email" name="input" class="form-control" placeholder="Enter Mail Id" ng-model="fpwd_email" required>
						</div>
						<span class="help-block has-error error" id="fp" ng-show="forgotPassword.input.$error.email">Invalid email</span>
					</div>  

					<button type="button" id="fpwd_btn" class="btn bt-fpwd pull-right" ng-click="sendMail()" data-dismiss="modal" >Send Password Reset Instructions
					</button>
					<div class="clearfix"></div>

					<div class="text-right text-bottom-margin">
						<a href="#signin" data-toggle = "modal" data-dismiss="modal" class="signin-tab" ng-click="clearOnSigninClick()"><strong>Back to Sign in?</strong></a>
					</div>
				</form>
				</div>
			</div>		
		</div>	
	</div>		
</div>

<div class="modal fade" id="signupp" role="dialog">
	<div class = "modal-dialog">
		<div class = "modal-content">
			<form class="form-horizontal">
				<div class = "modal-header">
					<div> Sign Up</div>
				</div>
				<div class = "modal-body">
					<div class="form-group">
						<label for="contact-email" class="col-lg-2 control-label">Phone No:</label>
						<div class="col-lg-10">
							<input type="email" class="form-control" id="contact-email" placeholder= "Phone No.">
						</div>
					</div>

					<div class="form-group">
						<label for="contact-email" class="col-lg-2 control-label">Email Id:</label>
						<div class="col-lg-10">
							<input type="email" class="form-control" id="contact-email" placeholder= "Email Id">
						</div>
					</div>


					<div class="form-group">
						<label for="password" class="col-lg-2 control-label">Password:</label>
						<div class="col-lg-10">
							<input type="password" class="form-control" id="password" placeholder= "Password">
						</div>
					</div>
				</div>
				<div class = "modal-footer">
					<a class="btn btn-default btn-primary" href = "#signinn" data-toggle = "modal" data-dismiss="modal">SIGN UP</a>
					<a class="btn btn-default" data-dismiss="modal">Close</a>

				</div>
			</form>

		</div>
	</div>

</div>






