<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" href="../css/bootstrap.css">
<link href="netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link href="social-sharing.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/horizontal_element_style.css">

<title>
</title>
</head>

<body>


<div class="col-md-9 ">
<div class="row my_background_color">
	<div class="col-md-2">
		 <img class="img-responsive img-thumbnail " src="../images/physic.jpg">
	</div>
	<div class="col-md-10 product_results ">
		<div class="row">
			<div class="col-md-7 ">
				<h1> <a href="#">Concet Of Physics </h1>
			</div>
			<div class="col-md-5">
            <b class="price" itemprop="price">
            	<span class="priceline mrp_font">
            		MRP:
            		<i class="fa fa-rupee"></i>
            		666
            	</span>
            	<span class="defaultcolor">
            		Price:
            		<i class="fa fa-rupee"></i>
            		350
            	</span>
            </b>
			</div>

		</div>
		<div>
			<div class="row">
					<div class="col-md-12">
						<span itemprop="author"><b>Author: </b>H C Verma</span>

					</div>
					<div class="col-md-12">
						<b> City: </b>Surendranagar                
				   </div>



			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
               <div class="col-md-6 facebook_button">
					 <button type="button" class="btn btn-primary">About Book</button>
				</div>
				<div class="col-md-6 facebook_button">					 <!-- Facebook -->
                  <button type="button" class="btn btn-primary">Share on Facebook</button>
        </div>
			 </div>
		</div>
	</div>
</div>
<hr></hr>
</div>

</body>
</html>
