		<div class="navbar navbar-default navbar-static-top">

			<div class="container">

				<div class="navbar-left">
					<img src="Content/Images/rsz_books.png" alt="logo"> Book Store 
				</div>


<!-- 				<a href="#" class="navbar-brand"> 
					Book Store
				</a>
 -->
				<button class="navbar-toggle" data-toggle="collapse" data-target = ".navbarHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse navbarHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">

						<li><a href="#">Home</a></li>
						<li class="active"><a href="#manageBooks">My Books</a></li>
						<li><a href="#">Our Vision</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#" ng-click = "logout()">Log Out</a></li>
					</ul>
				</div>
			</div>
		</div>





<div ng-repeat="book in resBooks">
<div class="col-md-9 ">
<div class="row my_background_color">
	<div class="col-md-2">
		 <img itemprop="image" data-ng-src="data:image/png;base64,{{book.img_data}}" height="300px" width="350px" data-err-src="images/png/avatar.png" class="img-responsive img-thumbnail"/>
	</div>





	<div class="col-md-10 product_results ">
		<div class="row">
			<div class="col-md-7 ">
				<h1> <a href="#book/{{book.id}}">{{book.title}} </a> </h1>
			</div>
			<div class="col-md-5">
            <b class="price" itemprop="price">
            	<div ng-show="book.post_for == 'selling'">
            	<span class="priceline mrp_font">
            		MRP:
            		<i class="fa fa-rupee"></i>
            		666
            	</span>
            	<span class="defaultcolor">
            		Price:
            		<i class="fa fa-rupee"></i>
            		350
            	</span>
            	</div>
            	<div ng-show="book.post_for == 'donation'">
            		BOOK FOR DONATION

            	</div>
            </b>
			</div>

		</div>
		<div>
			<div class="row">
					<div class="col-md-12">
						<span itemprop="author"><b>Author: </b>{{book.author}}</span>

					</div>
					<div class="col-md-12">
						<b> City: </b> {{book.city}}                
				   </div>



			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
               <div class="col-md-6 facebook_button">
					 <button type="button" class="btn btn-primary" ng-click="markBookSold(book.id)">Mark Sold</button>
				</div>
				<div class="col-md-6 facebook_button">					 <!-- Facebook -->
                  <button type="button" class="btn btn-primary">Share on Facebook</button>
        </div>
			 </div>
		</div>
		<div class="row">
			<br>
		</div>

	</div>
</div>
<hr></hr>
</div>
</div>