		<div ng-controller="sellerHomeCtrl">  

		<div class="navbar navbar-default navbar-static-top">

			<div class="container">

				<div class="navbar-left">
					<img src="Content/Images/rsz_books.png" alt="logo"> Book Store 
				</div>


<!-- 				<a href="#" class="navbar-brand"> 
					Book Store
				</a>
 -->
				<button class="navbar-toggle" data-toggle="collapse" data-target = ".navbarHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse navbarHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">

						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">My Books</a></li>
						<li><a href="#">Social Media</a></li>
						<li><a href="#">Our Vision</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#" ng-click = "logout()">Log Out</a></li>
					</ul>
				</div>
			</div>
		</div>

		<H1>

			UPLOAD A BOOK TO SELL

		</H1>


<div>  
    <div ng-style="{ backgroundImage: 'url(' + getBookImageUrl(100, 100) + ')' }"></div>
    Id: <span ng-bind="book.id"></span>
    <br/>
    Name:<input type="text" ng-model="book.name" />
    <br/>
    Author: <input type="text" ng-model="book.author" />
    <br/>
    Is Available: <span ng-bind="isAvailable() ? 'Yes' : 'No' "></span>
    <br/>
    <button ng-click="deleteBook()">Delete</button>
    <br/>
    <button ng-click="updateBook()">Update</button>
</div>

</div>