		<div ng-controller="sellerHomeCtrl">  
<style type="text/css">.col-lg-123{width:8.33333333%;height:30px}
</style>

            

		<div class="navbar navbar-default navbar-static-top">

			<div class="container">

				<div class="navbar-left">
					<img src="Content/Images/rsz_books.png" alt="logo"> Book Store 
				</div>


<!-- 				<a href="#" class="navbar-brand"> 
					Book Store
				</a>
 -->
				<button class="navbar-toggle" data-toggle="collapse" data-target = ".navbarHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse navbarHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">

						<li><a href="#">Home</a></li>
                        <li class="active"><a>Upload</a></li>
						<li><a href="#manageBooks">My Books</a></li>
                        <li><a href="#">Our Vision</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#" ng-click = "logout()">Log Out</a></li>
					</ul>
				</div>
			</div>
		</div>

		<H1>

			<div class="heading-bar text-center">
                <h2> UPLOAD YOUR BOOK </h2>
             </div>



		</H1>

<br/>
<div>  
    <div ng-style="{ backgroundImage: 'url(' + getBookImageUrl(100, 100) + ')' }"></div>

<!--     <label class="col-lg-1 control-label">Image:</label><input type="file" id="file" name="file" ng-model="book.filer"/>
<br/> <br/>
 -->
    <label class="col-lg-1 control-label">Image:</label>
    <input type="file" id="exampleInputFile" file-model="book.file" accept="image/*" >

    <div ng-show="book.file != null"> <ul><li>{{book.file.name}}</li></ul></div>
    <br/>


    <label class="col-lg-1 control-label">Title:</label>  <input type="text"  class = "col-lg-3" ng-model="book.title" />
    <br/> <br/>

    <label class="col-lg-1 control-label">Author:</label>  <input type="text"  class = "col-lg-3" ng-model="book.author" />
    <br/> <br/>

    <label class="col-lg-1 control-label">Edition:</label>  <input type="text" placeholder= "Optional" id="name"  class = "col-lg-123 form-control" ng-model="book.edition"/>

    <br/> <br/>

                <label for="repeatSelect" class="col-lg-1"> Category : </label>
    <select name="repeatSelect" id="repeatSelect" ng-model="book.category">
        <option ng-selected="1" >---Select Category---</option>    
      <option ng-repeat="option in categoryList">{{option}}</option>
    </select>

    <br/> <br/>


    <label class="col-lg-1 control-label">Type:</label>  
    <input type="radio" ng-model="book.type" value="new"/> New
    <input type="radio" id = "old" ng-model="book.type" value="old"/> Old
    <br/> <br/>

        <label for="repeatSelect" class="col-lg-1"> City : </label>
    <select name="repeatSelect" id="repeatSelect" ng-model="book.city" ng-change="cityselected(book.city)">
      <option ng-selected="2" >---Select City---</option>
      <option ng-repeat="option in availableCities" value="{{option}}">{{option}}</option>
    </select>

    <br/> <br/>





 	<div class="wrapper">
		<p ng-show="placechoice == 'city_selected'">

		    <label class="col-lg-1 control-label">Location:</label> 

		        <select name="repeatSelect" id="repeatSelect" ng-model="book.location">
      <option ng-selected="1" >---Select Location---</option>	 
      <option ng-repeat="option in correspondingLocations" value="{{option}}">{{option}}</option>
    </select>

	    </p> 
	</div>



            <label for="repeatSelect" class="col-md-2 col-md-offset-1"> OR </label>
    <br/> <br/>

            <label for="repeatSelect" class="col-lg-1"> Institute : </label>
    <select name="repeatSelect" id="repeatSelect" ng-model="book.institute">
    	<option ng-selected="1" >---Select Your Institute---</option>	 
      <option ng-repeat="option in availableInstitutes" value="{{option}}">{{option}}</option>
    </select>

    <br/> <br/>

        <label class="col-lg-1 control-label">Post for: </label>  
    <input type="radio" ng-model="book.sellingType" value="selling" ng-click="sellingBook()"/> Selling
    <input type="radio" ng-model="book.sellingType" ng-click="donateBook()" value="donation" /> Donation
    <br/> <br/>

<div class="wrapper">
	<p ng-show="sellingType == 'selling'">


    <label class="col-lg-1 centered control-label">Market Price:</label>  
    <input  type="number"  min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="currency col-md-1 " ng-model="book.mrp_price" />
    <br/> <br/> <br/> 

    <label class="col-lg-1 centered control-label">Selling Price:</label>  
    <input  type="number"  min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="currency col-md-1 " ng-model="book.selling_price" />
    <br/> <br/> <br/>

 	</p>
</div>

    <label class="col-lg-1 control-label">Description:</label>  
        <TEXTAREA   Name="content" ROWS=2 COLS=34></TEXTAREA>
    <br/> <br/>
    <br/>

    <label class="col-lg-1 control-label">Special Note:</label>  
    <input type="text"  class = "col-lg-3" ng-model="book.specialNote" />

    <br/> <br/>
    <br/>




    <button class="navbar-button btn-success btn pull-center"  ng-click="addBook(book)">Upload</button>

    <br/> <br/>
    <br/> <br/>

</div>








</div>







