		<div ng-controller="sellerHomeCtrl">  

		<div class="navbar navbar-default navbar-static-top">

			<div class="container">

				<div class="navbar-left">
					<img src="Content/Images/rsz_books.png" alt="logo"> Book Store 
				</div>


<!-- 				<a href="#" class="navbar-brand"> 
					Book Store
				</a>
 -->
				<button class="navbar-toggle" data-toggle="collapse" data-target = ".navbarHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse navbarHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">

						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">My Books</a></li>
						<li><a href="#">Social Media</a></li>
						<li><a href="#">Our Vision</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#" ng-click = "logout()">Log Out</a></li>
					</ul>
				</div>
			</div>
		</div>

		<H1>

			UPLOAD YOUR BOOK

		</H1>

<br/>
<div>  
    <div ng-style="{ backgroundImage: 'url(' + getBookImageUrl(100, 100) + ')' }"></div>

    <label class="col-lg-1 control-label">Title:</label>  <input type="text"  class = "col-lg-3" ng-model="book.title" />
    <br/> <br/>

    <label class="col-lg-1 control-label">Author:</label>  <input type="text"  class = "col-lg-3" ng-model="book.author" />
    <br/> <br/>

    <label class="col-lg-1 control-label">Edition:</label>  <input type="text" placeholder= "(Optional)"  class = "col-md-1" ng-model="book.edition"/>
    <br/> <br/>

    <label class="col-lg-1 control-label">Type:</label>  
    <input type="radio" ng-model="book.type" value="new"/> New
    <input type="radio" id = "old" ng-model="book.type" value="old"/> Old
    <br/> <br/>

        <label for="repeatSelect" class="col-lg-1"> City : </label>
    <select name="repeatSelect" id="repeatSelect" ng-model="book.city" ng-change="cityselected(book.city)">
      <option ng-selected="1" >---Select City---</option>	 
      <option ng-repeat="option in availableCities" value="{{option}}">{{option}}</option>
    </select>

    <br/> <br/>





 	<div class="wrapper">
		<p ng-show="placechoice == 'city_selected'">

		    <label class="col-lg-1 control-label">Location:</label> 

		        <select name="repeatSelect" id="repeatSelect" ng-model="book.location">
      <option ng-selected="1" >---Select Location---</option>	 
      <option ng-repeat="option in correspondingLocations" value="{{option}}">{{option}}</option>
    </select>

	    </p> 
	</div>



            <label for="repeatSelect" class="col-md-2 col-md-offset-1"> OR </label>
    <br/> <br/>

            <label for="repeatSelect" class="col-lg-1"> Institute : </label>
    <select name="repeatSelect" id="repeatSelect" ng-model="book.institute">
    	<option ng-selected="1" >---Select Your Institute---</option>	 
      <option ng-repeat="option in availableInstitutes" value="{{option}}">{{option}}</option>
    </select>

    <br/> <br/>

        <label class="col-lg-1 control-label">Post for: </label>  
    <input type="radio" ng-model="book.selling_price" value="new" ng-click="sellingBook()"/> Selling
    <input type="radio" ng-model="book.selling_price" ng-click="donateBook()" value="0" /> Donation
    <br/> <br/>

<div class="wrapper">
	<p ng-show="sellingType == 'selling'">


    <label class="col-lg-1 centered control-label">Market Price:</label>  
    <input  type="number" value="1000" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="currency col-md-1 " ng-model="book.mrp_price" />
    <br/> <br/> <br/> 

    <label class="col-lg-1 centered control-label">Selling Price:</label>  
    <input  type="number" value="1000" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="currency col-md-1 " ng-model="book.selling_price" />
    <br/> <br/> <br/>

 	</p>
</div>

    <label class="col-lg-1 control-label">Special Note:</label>  <input type="text"  class = "col-lg-3" ng-model="book.specialNote" />
    <br/> <br/>



    <button  ng-click="addBook(book)">Upload</button>

    <br/> <br/>
    <br/> <br/>

</div>








</div>





