<div id="div1" ng-controller="customerCtrl">

   <script type="text/javascript">

   var list;
          var request;
            if (window.XMLHttpRequest) {
                request = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                request = new ActiveXObject("Microsoft.XMLHTTP");
            } else {
                throw new Error("Your browser don't support XMLHttpRequest");
            }
            var url = "http://localhost:3000/api/books/search/get_unique_search_params";
            request.open('GET', url, false);
            request.send(null);
            if (request.status === 200) {
            list = JSON.parse(request.responseText);
            console.log("jsonResponse == ");
            console.log(list);
            }



   console.log("bookService and books list = ");
   console.log(list);

$(document).ready(function(){
// Instantiate the Bloodhound suggestion engine
var movies = new Bloodhound({
    datumTokenizer: function (datum) {
        return Bloodhound.tokenizers.whitespace(datum.value);
    },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: $.map(list,function(item){
      return {value : item};
    })
});


var selectedDatum;

function getScope(ctrlName) {
    var sel = 'div[ng-controller="' + ctrlName + '"]';
    return angular.element(sel).scope();
}

$('.typeahead').on('typeahead:selected', function(event, datum) {
  selectedDatum = datum;
  scope = getScope('customerCtrl');
  console.log("scope_out");
  console.log(scope.$$childHead);
  scope.$apply(function(){
        scope.selectedBook = selectedDatum.value;
    });
  console.log("selectedDatum = ");
  scope.bookSelectedNow();
  console.log(selectedDatum.value);

});


// Initialize the Bloodhound suggestion engine
movies.initialize();

// Instantiate the Typeahead UI
$('.typeahead').typeahead(
{
    hint: true,
    highlight: true,
    minLength: 1
}, {
    name: 'movies',
    displayKey: 'value',
    source: movies.ttAdapter(),
    templates: {
                        empty: [
                            '<div class="noitems">',
                            'No Items Found',
                            '</div>'
                        ].join('\n')
                    }
});
});
</script>

   <style type="text/css">.col-lg-123{width:8.33333333%;height:30px}</style>
   <style>
.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 40px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
tt-highlight{
    color:red;
}
</style>
   <!-- Header Start--> 
   <div class="navbar navbar-default navbar-static-top">
      <div class="container">
         <div class="navbar-left">
            <!-- <img src="Content/Images/rsz_books.png" alt="logo"> Book Store  -->
            <a href="http://localhost:8000/index.html#/home"><img src="Content/Images/logo_1.png" alt="logo"></a>
         </div>
         <!--           <a href="#" class="navbar-brand"> 
            Book Store
            </a>
            -->
         <button class="navbar-toggle" data-toggle="collapse" data-target = ".navbarHeaderCollapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>

         <div class="collapse navbar-collapse navbarHeaderCollapse">
            <ul class = "nav navbar-nav navbar-center">
               <input class="typeahead" sf-typeahead type="text" id="typeahead" 
               class="form-control" ng-model="selectedBook"></input>
            </ul>
            <ul class = "nav navbar-nav navbar-right">
               <li><a href="#">Home</a></li>
               <li><a href="#">Our Vision</a></li>
            </ul>
         </div>
      </div>
   </div>
   <!-- Header ENd--> 
   <!-- Filter Start -->
   <div class="col-md-3 class-A">
      <div class="row Row-1">
         <div class="col-md-12"> 
            Looking For : 
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="bookvalue" ng-change="bookCheckBox()" ng-true-value=true ng-false-value=false>
               Book
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="Magzinevalue" ng-change="MagzineCheckBox()" ng-true-value=true ng-false-value=false >
               Magzine 
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="StudyMaterialvalue" ng-change="StudyMaterialCheckBox()" ng-true-value=true ng-false-value=false >
               Study-Material
               </label>
            </div>
         </div>
      </div>
      <div class="row Row-1">
         <div class="col-md-12"> 
            Posted For : 
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="Sellvalue" ng-change="SellCheckBox()" ng-true-value=true ng-false-value=false >
               Sell
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="Rentvalue" ng-change="RentCheckBox()" ng-true-value=true ng-false-value=false >
               Rent 
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="Exchangevalue" ng-change="ExchangeCheckBox()" ng-true-value=true ng-false-value=false >
               Exchange
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="Donatevalue" ng-change="DonateCheckBox()" ng-true-value=true ng-false-value=false >
               Donate
               </label>
            </div>
         </div>
      </div>
      <div class="row Row-1 category_scroll">
         <div class="col-md-12"> 
            Filter By Category : 
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C1value" ng-change="C1CheckBox()" ng-true-value=true ng-false-value=false>
               Computers & Technology
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C2value" ng-change="C2CheckBox()" ng-true-value=true ng-false-value=false>
               Business & Management 
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C3value" ng-change="C3CheckBox()" ng-true-value=true ng-false-value=false>
               Accounting & Taxation
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C4value" ng-change="C4CheckBox()" ng-true-value=true ng-false-value=false>
               Laws & Regulations
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C5value" ng-change="C5CheckBox()" ng-true-value=true ng-false-value=false>
               Entrance Exams 
               </label>=
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C6value" ng-change="C6CheckBox()" ng-true-value=true ng-false-value=false>
               School Books
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C7value" ng-change="C7CheckBox()" ng-true-value=true ng-false-value=false>
               Design, Arts & Photography
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C8value" ng-change="C8CheckBox()" ng-true-value=true ng-false-value=false>
               Biographies & Autobiographies
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C9value" ng-change="C9CheckBox()" ng-true-value=true ng-false-value=false>
               Romance & Short Stories
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C10value" ng-change="C10CheckBox()" ng-true-value=true ng-false-value=false>
               Sports & Outdoors 
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C11value" ng-change="C11CheckBox()" ng-true-value=true ng-false-value=false>
               Music, Films & Entertainment
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C12value" ng-change="C12CheckBox()" ng-true-value=true ng-false-value=false>
               Religion & Spirituality
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C13value" ng-change="C13CheckBox()" ng-true-value=true ng-false-value=false>
               History & Politics
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C14value" ng-change="C14CheckBox()" ng-true-value=true ng-false-value=false>
               Sports & Outdoors 
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C15value" ng-change="C15CheckBox()" ng-true-value=true ng-false-value=false>
               Mystery, Thriller & Suspence
               </label>
            </div>
         </div>
         <div class="col-md-12">
            <div class="checkbox">
               <label>
               <input  type="checkbox" ng-model="C16value" ng-change="C16CheckBox()" ng-true-value=true ng-false-value=false>
               Skills, Dictionary, Learning
               </label>
            </div>
         </div>
      </div>
      <!-- Fileter End -->
   </div>
   <!-- ADS --> 

   <!-- Looping -->
   <div ng-repeat="book in resBooks">
   <div class="col-md-9 ">
      <div class="row my_background_color">
         <div class="col-md-2">
            <img itemprop="image" data-ng-src="data:image/png;base64,{{book.img_data}}" height="300px" width="350px" data-err-src="images/png/avatar.png" class="img-responsive img-thumbnail"/>
         </div>
         <div class="col-md-10 product_results ">
            <div class="row">
               <div class="col-md-7 ">
                  <h1> <a href="#book/{{book.id}}">{{book.title}} </a> </h1>
               </div>
               <div class="col-md-5">
                  <b class="price" itemprop="price">
                     <div ng-show="book.post_for == 'selling'">
                        <span class="priceline mrp_font">
                        MRP:
                        <i class="fa fa-rupee"></i>
                        666
                        </span>
                        <span class="defaultcolor">
                        Price:
                        <i class="fa fa-rupee"></i>
                        350
                        </span>
                     </div>
                     <div ng-show="book.post_for == 'donation'">
                        BOOK FOR DONATION
                     </div>
                  </b>
               </div>
            </div>
            <div>
               <div class="row">
                  <div class="col-md-12">
                     <span itemprop="author"><b>Author: </b>{{book.author}}</span>
                  </div>
                  <div class="col-md-12">
                     <b> City: </b> {{book.city}}                
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="col-md-6 facebook_button">
                     <!-- <button type="button" class="btn btn-primary" ng-click="markBookSold(book.id)">Mark Sold</button> -->
                  </div>
                  <div class="col-md-6 facebook_button">
                     <!-- Facebook -->
                     <button type="button" class="btn btn-primary">Share on Facebook</button>
                  </div>
               </div>
            </div>
            <div class="row">
               <br>
            </div>
         </div>
      </div>
      <hr>
      </hr>
   </div>
</div>
   <!-- End Looping -->
</div>
