		<div ng-controller="sellerHomeCtrl">  
<style type="text/css">.col-lg-123{width:40.33333333%;height:60%}
</style>

            

		<div class="navbar navbar-default navbar-static-top">

			<div class="container">

				<div class="navbar-left">
					<img src="Content/Images/rsz_books.png" alt="logo"> Book Store 
				</div>


<!-- 				<a href="#" class="navbar-brand"> 
					Book Store
				</a>
 -->
				<button class="navbar-toggle" data-toggle="collapse" data-target = ".navbarHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse navbarHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">

						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">My Books</a></li>
						<li><a href="#">Social Media</a></li>
						<li><a href="#">Our Vision</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#" ng-click = "logout()">Log Out</a></li>
					</ul>
				</div>
			</div>
		</div>


<br/>


        <div class="container">
            <div class="jumbotron col-md-5">

            	<div class="row">

            		<div class="col-md-3">
            			<img src="Content/Images/1455981676_tick_16.png" alt="logo"> 
            		</div>

            		<div class = "col-md-8">
            			<div class="row">

            			                <h5 align="center">SUCCESSFULLY UPLOADED </h5>
            			            </div>
            			            <br/>
					                
					                <div class="row">
					                	<div class = "col-md-6">
					                <a class="btn btn-default btn-primary" ng-click="getBook()"> View My Books </a>
					            </div>
					            <div class = "col-md-5">

					                <a href = "#sellerHome" data-toggle = "modal" class="btn btn-default btn-primary"> Upload more books </a>
					                </div>
					            </div>
            		</div>
            	


                
                </div>
                
            </div>
        </div>




        <!-- MY LIST ELEMENT -->


        	<div ng-repeat="book in resBooks">


         <div  itemscope class="col-md-11 result">
              <div class="row">
              	                <div class="col-md-2">
              	                	<!-- PUT THE IMAGE HERE -->
                	        		<img itemprop="image" data-ng-src="data:image/png;base64,{{book.img_data}}" height="250px" width="350px" data-err-src="images/png/avatar.png" class="img-responsive"/>
              	                </div>

              	                <div class="col-md-10">
              	                	<div class="row">     
											<b class="defaultcolor"> <p style="font-size:30px"> {{book.title}} </p>  </b>
              	                	</div>
              	                	<br/>
              	                	
              	                	<div class="row"><p ng-show="book.edition != null" style="font-size:20px"> Edition : {{book.edition}} </p></div>

              	                	<div class="row"><p ng-show="book.category != null" style="font-size:20px"> Category : {{book.category}} </p></div>
              	                	
              	                	<div class="row"><p ng-show="book.author != null" style="font-size:20px"> Author : {{book.author}} </p></div>

              	                	<div class="row"><p ng-show="book.type != null" style="font-size:20px"> Type : {{book.type}} </p></div>
              	                	

              	                	<div class="row"><p ng-show="book.city != null" style="font-size:20px"> City : {{book.city}} </p></div>
              	                	<div class="row"><p ng-show="book.location != null" style="font-size:20px"> Location : {{book.location}} </p></div>
              	                	<div class="row"><p ng-show="book.institute != null" style="font-size:20px"> Institute : {{book.institute}} </p></div>
              	                	<div class="row"><p ng-show="book.post_for != null" style="font-size:20px"> Post for : {{book.post_for}} </p></div>

              	                	<div class="row"><p ng-show="book.description != null" style="font-size:20px"> Description : {{book.description}} </p></div>

              	                	<div class="row"><p ng-show="book.special_note != null" style="font-size:20px"> Special Note : {{book.special_note}} </p></div>

              	                </div>




              </div>
          </div>
          <hr>

      </div>


     
<!-- THIS IS THE START -->




<!--           <div  itemscope itemtype="http://schema.org/Book" class="col-md-11 result">
              <div class="row">
 				<div class="col-md-10 product_results">
                  <div class="row">      
                        <div class="col-md-7">                  
                              <h1  itemprop="name">
                                <a href="http://studentdesk.in/Concepts-Of-Physics-By-Hc-Verma--solutions-/1655">
                                  <b class="defaultcolor"> Concepts Of Physics By Hc Verma -solutions  </b>
                                </a>
                              </h1>
                        </div>                        
                        <div class="col-md-5">
                          <b itemprop="price" class="price">
                                                         &nbsp; <span class="priceline mrp_font">MRP: <i class="fa fa-rupee"></i> 536</span> 
                                                         
                            <span class="defaultcolor">
                            Price:  <i class="fa fa-rupee"></i> 350                             </span>    
                          </b>                    
                        </div>
                  </div>                 
                </div>  
                

                <div class="row">                                        
                                <div class="col-md-12">
                <span itemprop="author"><b>Author: </b> HC Verma </span>
                </div>
                                                
                   
                  <div class="col-md-12">
                  <b> City: </b>Daman                 </div>
                  
              </div>
                  </div>
                <div class="row">
                  <div class="col-md-12">

                                                                      <a href="http://studentdesk.in/concepts-of-physics-by-hc-verma--solutions-/1655" class="btn" style="padding:6px 41px">About Book</a>                      
                                                               <i id="posted_on" class="pull-right" itemprop="dateCreated">Posted on: 16, Aug</i>
                 </div>                  
                </div>                 
               </div>              
              </div>
                    <hr>
              
            </div> <!-- itemscope div end -->
 








<!-- THIS IS THE CODE -->


</div>







